.title-hackathon {
	margin-bottom: 0px;
}

.subtitle-hackathon {
	margin-bottom: 50px;
}

.prize-info {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.prize-not-margin {    
    margin-top: 0px;
    margin-bottom: 0px;
}
.hackathon-details{
	margin-left: 0px
}