<!-- Begin Subscribe Section -->
<section id="subscribe" class="subscribe image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.subscribeImage }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2 animated hiding" data-animation="fadeInUp" data-delay="0">
            <h3>{{ site.subscribeTitle }}</h3>
            <div id="mc_embed_signup" class="mc-submit-group clear col-lg-4 col-sm-4 col-xs-12 col-lg-offset-4">
                <div class="mc-submit-group clear">
                    <i class="button bordered required waves-effect waves-light waves-input-wrapper">
                      <input type="button" class="waves-button-input" value="Inscrição" name="subscribe" id="mc-embedded-subscribe" onclick="javascript:window.location='https://pt.surveymonkey.com/r/texconductor'">
                    </i>
                </div>
                <span class="subscribe-info subscribe-info col-sm-12 col-lg-12">{{ site.subscribeInfo }}</span>
            </div>
        </div>
    </div>
</section>
<!-- End Subscribe Section -->