<!-- About Talks Section -->
<section id="about-talks" class="about-talks">
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <h3 class="title-talks">{{ site.aboutTalksTitle }} <i class="glyphicon glyphicon-heart"></i> </h3>
            <h5 class="subtitle-talks">{{ site.aboutTalksSubTitle }}</h5>
            {% for row in site.talksRows %}
            {% assign check = forloop.index0 | modulo:2 %}
            <div class="talks-row col-md-12">
                <div class="talks-img-wrapper animated hiding" data-animation="{% if check == 0 %}fadeInLeft{% else %}fadeInRight{% endif %}" data-delay="0">
                    <!--<img class="img-responsive" src="{{ site.baseurl }}/img/talks/{{ row.image }}" alt="Talks">-->
                </div>
                <div class="talks-details animated hiding" data-animation="{% if check == 0 %}fadeInRight{% else %}fadeInLeft{% endif %}" data-delay="0">
                    <h4>{{ row.title }}</h4>
                    <p>{{ row.details }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End About Talks Section -->
