<!-- Begin Talks Temas Section -->
<section id="talks-partners" class="partners">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.talksTemasTitle }}</h3>
            {% for tema in site.data.talks-temas %}
            <h5>{{ temas.group }}</h5>
            <ul class="list-inline">
                {% for element in tema.elements %}
                <li {% if element.width != null %}style="width: {{ element.width }};"{% endif %}>
                    <a href="{{ element.link }}" target="_blank">
                        <img src="{{ site.baseurl }}/img/talks-temas/{{ element.imageUrl }}" alt="{{ element.name }}">
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </div> 
</section>
<!-- End Talks Temas Section -->

