<!-- Begin Hero Section -->
<style>
    body {
        margin: 0;
    }

    .banner {
        /* this bit of markup is essential */
        position: absolute;
        width: 100%;
        height: 100%;
        top: -20px;
        left: 0;
        overflow: hidden;

        /* do this shit by yourself */
        background: rgba(0, 0, 0, .5) url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAF0lEQVQIW2NkYGD4z8DAwMgAI0AMDA4AI3EBBCKrOnQAAAAASUVORK5CYII=');
        background-repeat: repeat;
        background-position: 0 0;
        color: #fff;
        font-family: 'Raleway', sans-serif;
        font-size: 1em;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        line-height: 100vh;
        letter-spacing: 2px;
    }

    .banner__video {
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        min-width: 100%;
        height: auto;
        min-height: 100%;
        transform: translateX(-50%) translateY(-50%);
        z-index: -1;
        opacity: 0.5;
    }
    .explore {
        bottom: 10px !important;
    }
    .sld-img {
        position: absolute;
        background-image: url('/img/sections-background/features-home.svg');
        background-size: cover;
        bottom: -56%;
        left: 0;
        width: 100%;
        height: 100%;
        /* z-index: 99999; */
        opacity: 0.3;
        z-index: 1;
    }
</style>

<section id="top-section-hero" class="top-section-hero top-section image-section" style="padding-bottom:0;">

    {% include navigation.html %}
    <div class="content-wrapper">
        <div class="banner">
            <!-- poster="{{ site.baseurl }}/img/sections-background/equipe_cdt.jpg" -->
            <video autoplay loop muted class="banner__video" >
                <source src="{{ site.baseurl }}/video/video.webm" type="video/webm">
                <source src="{{ site.baseurl }}/video/video.mp4" type="video/mp4">
            </video>
        </div>
        <div class="jumbotron" style="z-index:9;">

            <div class="animated hiding" data-animation="fadeInDown" data-delay="500">
                {% assign heroText = site.heroTitle | split:"
                <typeout>" %}
                    <h1>{{ heroText[0] }}<span id="typeout-text" class="hidden-xs"></span><span class="typeout-fallback">{{ site.typeoutFallback }}</span>{{
                        heroText[1] }}</h1>
                    <p>{{ site.eventDate }}</p>
                    {% for button in site.heroButtons %}
                    <a href="{% if button.permalink != null %} {{ button.permalink | prepend: site.baseurl }} {% else %} {{ button.link }} {% endif %}"
                        class="btn btn-primary waves-effect waves-button waves-light waves-float" {% if button.link != null %} cleartarget="_blank"
                        {% endif %}>{{ button.text }}</a> {% endfor %}
            </div>
        </div>
        <a href="#about" class="explore">
            <svg class="icon icon-arrow-down" viewBox="0 0 32 32">
                <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-arrow-down"></use>
            </svg>
        </a>

        <figure class="sld-img"></figure>
    </div>
</section>

<script>
    window.onload = function () {
        var intro = document.querySelector('.banner');
        var introPlayer = document.querySelector('.banner__video');

        var iOS = /iPad|iPhone|iPod/.test(navigator.platform);
        if (iOS) {
            //intro.style.backgroundImage = 'url("' + introPlayer.poster + '")';
            introPlayer.style.display = 'none';
        }
    }

</script>

<!-- End Hero Section -->